.metadata/

# =====================
# Spring Boot (Java)
# =====================
target/
*.log

# =====================
# React (Node)
# =====================
node_modules/
build/

# =====================
# IDE / OS files
# =====================
.idea/
.vscode/
*.iml
.DS_Store
